{{!< layout}}
<h1>Приветствую, {{username}}</h1>
<nav>
  <ul class="nav flex-column">
    <li class="nav-item"><a class="nav-link" href="/edit-quiz">Изменить викторину</a></li>
    <li class="nav-item"><a class="nav-link" href="/logout">Выйти</a></li>
  </ul>
</nav>
