{{!< layout}}
{{#if user}}
  <h1>Приветствую, {{user.login}}</h1>
{{else}}
  <h1>Приветствую, гость</h1>
  <p>
    <span class="lead">Данное приложение - это викторина для проверки знаний охраны труда.</span>
  </p>
  <p>
    <span class="lead">В базе данных существует пользователь с логином admin и паролем admin, являющийся администратором.</span>
  </p>
  <p>
    <span class="lead">При нажатии на логотип происходит возврат на главную страницу.</span>
  </p>
    <p>
    <span class="lead">Иконки в футере кликабельны. Описание работы приложения есть на GitHub и YouTube, для связи используйте Telegram.</span>
  </p>

{{/if}}
